.logo--centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100px;
}

.container--rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

